/*=================================
55. Start Contact Content Area
===================================*/
.contact-form-wrapper {
  .form-input-item {

    &:last-child {
      margin-top: 30px;
    }

    input, textarea {
      @media #{$sm-device} {
        padding: 10px 15px;
      }
      &::placeholder {
        color: $black-soft;
      }
    }
  }
}

/*========================
Start Contact Info Area
=========================*/
.contact-map-area {
  height: 370px;
}

.contact-info-wrap {
  color: $black-soft;
}

/*============================
Start Contact Hero Map Area
==============================*/
.contact-map-hero-area, .contact-map-creative {
  position: relative;

  @media #{$md-device} {
    height: 600px;
  }

  @media #{$sm-device} {
    height: 100vh !important;
  }

  &:before {
    @include overlay($white, 0.4);
    pointer-events: none;
    z-index: 998;
  }

  .leaflet-control-container {
    display: none;
  }
}

// Social Icons
.about-social-icons {
  &.get-connected {
    a {
      font-size: 30px;
      line-height: 80px;
      height: 80px;
      width: 80px;

      @media #{$md-device, $sm-device } {
        font-size: 20px;
        line-height: 50px;
        height: 50px;
        width: 50px;
      }

      @media #{$xxs-device} {
        font-size: 14px;
        line-height: 45px;
        height: 45px;
        width: 45px;
      }
    }
  }
}

/*============================
Start Contact Left Content
==============================*/
.con-left-content-item {
  h2 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media #{$md-device} {
      font-size: 32px;
    }

    @media #{$sm-device} {
      font-size: 24px;
    }
  }

  address {
    color: $black-soft;
  }
}